<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="../stylesheets/books/index.css">
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %> </h1>
  <% if (!books.length) {%>
    <h2>You have no books!</h2>
    <% } else {%> 
      <section id="search">
        <form action="/books"
          method="GET"
          class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
        >
          <select name="category">
            <option value="Title" selected>Title</option>
            <option value="Author">Author</option>
            <option value="Genre">Genre</option>
          </select>
          <input 
            type="search"
            id="search"
            name="keyword"
            placeholder="Search here"
            autocomplete="off"
          >
          
        </form>
      </section>
        <form action="/books">
          <button id="reset-search" type='submit'>Reset Search</button>
        </form>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% books.forEach(book => {%> 
            <tr>
              <td><a href="/books/<%= book._id %>"><%= book.title %></a></td>
              <td><%= book.author %> </td>
              <td><%= book.genre %> </td>
              <td><%= book.status%> </td>
              <td>
                <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
                  <button type="submit" id="delete-book-button"><i class="fas fa-trash-alt"></i></button>
                </form>
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } %> 
</main>


<%- include('../partials/footer') %> 