<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="../stylesheets/books/index.css">
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %> </h1>
  <% if (!books.length) {%>
    <h2>You have no books!</h2>
    <% } else {%> 
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% books.forEach(book => {%> 
            <tr>
              <td><a href="/books/<%= book._id %>"><%= book.title %></a></td>
              <td><%= book.author %> </td>
              <td><%= book.genre %> </td>
              <td><%= book.status%> </td>
              <td>
                <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
                  <button type="submit" id="delete-book-button"><i class="fas fa-trash-alt"></i></button>
                </form>
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } %> 
</main>


<%- include('../partials/footer') %> 