<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="../stylesheets/books/show.css">
<%- include('../partials/nav') %> 

<main>
  <h1><%= book.title %> Details</h1>
  <a href="/books/<%= book._id %>/edit">
    <button id="edit-btn" type="submit">Edit Book Details</button>
  </a>
  <section id="content">
    <div>Title: </div>
    <div><%= book.title %> </div>
    <div>Author: </div>
    <div><%= book.author %> </div>
      <% if (book.releaseYear) {%> 
        <div>Release Year: </div>
        <div><%= book.releaseYear %> </div>
      <% } %> 
      <% if (book.series) {%> 
        <div>Series: </div>
        <div><%= book.series %> </div>
      <% } %> 
    <div>Genre: </div>
    <div><%= book.genre %> </div>
    <div>Status: </div>
    <div><%= book.status %> </div>
    <div>On Shelf: </div>
    <ul><%- book.shelves.map(shelf => `<li>${shelf.shelfName}</li>`).join('') %></ul>
  </section>
  <section id="add-to-shelf">
    <div>Add to Shelf: </div>
    <form action="/books/<%= book._id %>/shelves" method="POST">
      <select name="shelfId">
        <option disabled selected></option>
        <%- shelves.map(shelf => `<option value ="${shelf._id}">${shelf.shelfName}</option>`) %> 
      </select>
      <button type="submit">Add to Shelf</button>
    </form>
  </section>
  <h2 class="section-header">Notes</h2>
  <section id="notes">
    <form id="add-note" action="/books/<%= book._id %>/notes"
      method="POST">
      <textarea name="noteText" id="note-text" placeholder="Add Note Here"></textarea>
      <button type="submit">Add Note</button>
    </form>
    <% if (book.notes.length) {%> 
      <% book.notes.forEach(n => {%>
        <div class="note">
          <p ><%= n.createdAt.toLocaleDateString() %> - <%= n.noteText %></p>
          <form id="delete-note-form" action="/books/<%= book._id %>/notes/<%= n._id %>?_method=DELETE" 
            method="POST"
            >
            <button id="delete-note-button" type="submit">X</button>
          </div>
          </form>
        <br>
      <% }) %> 
    <% }  %>
  </section>
  <h2 class="section-header">Reviews</h2>
  <section id="reviews">
    <form 
      id="add-review-form"
      action="/books/<%= book._id %>/reviews"
      method="POST"
    >
      <label for="review-textarea">Review:</label>
      <textarea name="text" id="review-textarea"></textarea><br>
      <label id="rating-select" for="rating-select">Rating:</label>
      <select name="rating" id="rating-select">
        <option value="1">⭐</option>
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5" selected>⭐⭐⭐⭐⭐</option>
      </select>
      <button id="add-review-btn" type="submit">Add Review</button>
    </form>
  </section>
    <% if (book.reviews.length) {%> 
      <table id="reviews-table">
        <thead>
          <tr>
            <th>Review</th>
            <th>Rating</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% book.reviews.forEach(function(r) {%> 
            <tr>
              <td><%= r.text %></td>
              <td><%= r.rating %></td>
              <td>
                <form id="delete-review-button" action="/books/<%= book._id %>/reviews/<%= r._id %>?_method=DELETE" 
                method="POST"
                >
                  <button type="submit">X</button>
                </form>
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } %>  
</main>

<%- include('../partials/footer') %> 