<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<main>
  <h1><%= book.title %> Details</h1>
  <a href="/books/<%= book._id %>/edit">
    <button type="submit">Edit Book Details</button>
  </a>
  <section>
    <div>Title: </div>
    <div><%= book.title %> </div>
    <div>Author: </div>
    <div><%= book.author %> </div>
    <div>
      <% if (book.releaseYear) {%> 
        <div>Release Year: </div>
        <div><%= book.releaseYear %> </div>
      <% } %> 
    </div>
    <div>
      <% if (book.releaseYear) {%> 
        <div>Series: </div>
        <div><%= book.series %> </div>
      <% } %> 
    </div>
    <div>Genre: </div>
    <div><%= book.genre %> </div>
    <div>Finished Reading: </div>
    <div><%= book.fihishedReading ? 'Finished' : 'Unfinished'%> </div>
  </section>
  <section>
    <h2>Reviews</h2>
    <form 
      id="add-review-form"
      action="/books/<%= book._id %>/reviews"
      method="POST"
    >
      <label for="review-textarea">Reveiw:</label>
      <textarea name="text" id="review=textarea"></textarea>
      <label for="rating-select">Rating:</label>
      <select name="rating" id="rating-select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <button type="submit">Add Review</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %> 