<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<main>
  <h1><%= book.title %> Details</h1>
  <a href="/books/<%= book._id %>/edit">
    <button type="submit">Edit Book Details</button>
  </a>
  <section>
    <div>Title: </div>
    <div><%= book.title %> </div>
    <div>Author: </div>
    <div><%= book.author %> </div>
    <div>
      <% if (book.releaseYear) {%> 
        <div>Release Year: </div>
        <div><%= book.releaseYear %> </div>
      <% } %> 
    </div>
    <div>
      <% if (book.releaseYear) {%> 
        <div>Series: </div>
        <div><%= book.series %> </div>
      <% } %> 
    </div>
    <div>Genre: </div>
    <div><%= book.genre %> </div>
    <div>Finished Reading: </div>
    <div><%= book.fihishedReading ? 'Finished' : 'Unfinished'%> </div>
  </section>
</main>

<%- include('../partials/footer') %> 