<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<main>
  <h1><%= book.title %> Details</h1>
  <a href="/books/<%= book._id %>/edit">
    <button type="submit">Edit Book Details</button>
  </a>
  <section>
    <div>Title: </div>
    <div><%= book.title %> </div>
    <div>Author: </div>
    <div><%= book.author %> </div>
    <div>
      <% if (book.releaseYear) {%> 
        <div>Release Year: </div>
        <div><%= book.releaseYear %> </div>
      <% } %> 
    </div>
    <div>
      <% if (book.releaseYear) {%> 
        <div>Series: </div>
        <div><%= book.series %> </div>
      <% } %> 
    </div>
    <div>Genre: </div>
    <div><%= book.genre %> </div>
    <div>Finished Reading: </div>
    <div><%= book.fihishedReading ? 'Finished' : 'Unfinished'%> </div>
  </section>
  <section>
    <h2>Notes</h2>
    <form action="/books/<%= book._id %>/notes"
      method="POST">
      <textarea name="noteText" id="note-text" placeholder="Add Note Here"></textarea>
      <button type="submit">Add Note</button>
    </form>
    <% if (book.notes.length) {%> 
      <% book.notes.forEach(n => {%>
        <p><%= n.createdAt %> - <%= n.noteText %></p>
      <% }) %> 
    <% } else {%>
      <h3>No Notes</h3>
    <% } %> 
  </section>
  <section>
    <h2>Reviews</h2>
    <form 
      id="add-review-form"
      action="/books/<%= book._id %>/reviews"
      method="POST"
    >
      <label for="review-textarea">Reveiw:</label>
      <textarea name="text" id="review-textarea"></textarea><br>
      <label for="rating-select">Rating:</label>
      <select name="rating" id="rating-select">
        <option value="1">⭐</option>
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5" selected>⭐⭐⭐⭐⭐</option>
      </select>
      <button type="submit">Add Review</button>
    </form>
    <% if (book.reviews.length) {%> 
      <table>
        <thead>
          <tr>
            <th>Review</th>
            <th>Rating</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% book.reviews.forEach(function(r) {%> 
            <tr>
              <td><%= r.text %></td>
              <td><%= r.rating %></td>
              <td>
                <form id="delete-review-button" action="/books/<%= book._id %>/reviews/<%= r._id %>?_method=DELETE" 
                method="POST"
                >
                  <button type="submit">X</button>
                </form>
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    <% } else {%>
      <h3>No Reviews</h3>
    <% } %>  
  </section>
</main>

<%- include('../partials/footer') %> 