<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="../stylesheets/books/show.css">
<link rel="stylesheet" href="../stylesheets/books/index.css">
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %> </h1> 
  <%= shelf.description %> 
  <section id="header-btns">
    <form action="/shelves/<%= shelf.id %>/edit">
      <button type="submit">Edit Shelf</button>
    </form>
    <form action="/shelves/<%= shelf._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Shelf</button>
    </form>
  </section>

  <% if (!shelf.books.length) {%> 
    <h2>This shelf is empty!</h2>
  <% } else {%>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Status</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% shelf.books.forEach(book => { %> 
          <tr>
            <td><a href="/books/<%= book._id %>"><%= book.title %></a></td>
            <td><%= book.author %> </td>
            <td><%= book.genre %> </td>
            <td><%= book.status%> </td>
            <td>
              <form action="/shelves/<%= shelf._id %>/books/<%= book._id %>?_method=DELETE" method="POST">
                <button type="submit" id="delete-book-button"><i class="fas fa-trash-alt"></i></button>
              </form>
            </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  <% } %> 
</main>

<%- include('../partials/footer') %> 